{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <h2 class="mt-3 text-center">Shopping bag</h2>
    <hr>

    {% if bag_items %}

        <div class="bag_list">
            <div class="bag_row_title">
                    <div class="bag_row_image"></div>
                    <div class="bag_row_name">Name</div>
                    <div class="bag_row_qty">Q.ty</div>
                    <div class="bag_row_price">Price</div>
                    <div class="bag_row_price">Subtotal</div>
            </div>
            
            <div class="bag_row_container">
            {% for item in bag_items %}
                <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                {% csrf_token %}
                    <div class="bag_row">
                        <div class="bag_row_image">
                            <a href="{% url 'product_detail' item.item_id %}">
                                {% if item.product.image %}
                                    <img src="{{item.product.image.url }}">
                                {% else %}
                                    <img src="{{ MEDIA_URL }}noimage.png">
                                {% endif %}
                            </a>
                        </div>
                        <div class="bag_row_name">
                            {{item.product.name}}
                            <hr>
                            <button type="submit" class="btn btn-sm btn-dark btn-update">Update</button>
                            <button type="button" id="remove_{{ item.item_id }}" class="btn btn-sm btn-danger btn-remove">Remove</button>
                        </div>
                        <div class="bag_row_qty">
                            <span>Quantity:</span>
                            <input name="quantity" min="1" max="99" class="form-control" type="number" value="{{item.quantity}}">
                        </div>

                        <div class="bag_row_price"><span>Price:</span>${{item.product.price}}</div>
                        <div class="bag_row_price"><span>Sub total:</span>${{ item.product.price | calc_subtotal:item.quantity }}</div>
                    </div>
                </form>
            {% endfor %}
            </div>

            <div class="bag_row_sommary">
                <div class="bag_row">
                    <div class="bag_row_name">Bag total:</div>
                    <div class="bag_row_price"><strong>${{ total|floatformat:2 }}</strong></div>
                </div>
            
                <div class="bag_row">
                    <div class="bag_row_name">Delivery:</div>
                    <div class="bag_row_price"><strong>${{ delivery|floatformat:2 }}</strong></div>
                </div>

                <div class="bag_row">
                    <div class="bag_row_name">GRAND TOTAL:</div>
                    <div class="bag_row_price"><strong>${{ grand_total|floatformat:2 }}</strong></div>
                </div>
            </div>
        </div>

        <div class="bag_buttons">
            <div>
                <a href="{% url 'products' %}" class="btn btn-outline-dark">
                    <i class="fas fa-angle-left mr-2"></i>
                    Keep shopping
                </a>
            </div>
            <div class="ml-auto">
                <a href="{% url 'checkout' %}" class="btn btn-dark">
                    <i class="fas fa-lock mr-2"></i>
                    Secure Checkout
                </a>
            </div>
        </div>

    {% else %}
        Your bag is empty.

        <div class="bag_buttons">
            <div>
                <a href="{% url 'products' %}" class="btn btn-outline-dark">
                    <i class="fas fa-angle-left mr-2"></i>Keep shopping
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

        <script type="text/javascript">
            // Remove item and reload on click
            $('.btn-remove').click(function(e) {
                var csrfToken = "{{ csrf_token }}";
                var itemId = $(this).attr('id').split('remove_')[1];
                var url = `/bag/remove/${itemId}/`;
                var data = {'csrfmiddlewaretoken': csrfToken};

                $.post(url, data, function() {
                    location.reload();
                });

            })
        </script>
{% endblock %}