/* ----- Google Fonts import ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ----- Font ----- */
* {
    font-family: 'Poppins', sans-serif;
}


/* ----- HEADER ----- */
header{
    width: 100%;
    border-bottom: 1px solid #ccc;
}

header .logo{
    height: 50px;
}

header .nav-bar{
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
}

header .nav-bar i{
    font-size: 120%;
}

header .nav-bar button{
    display: none;
}

header .nav-bar-bottom{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

header .nav-menu-search-container{
    margin-left: auto;
}   

header .nav-bar-bottom a{
    padding: 40px 20px;
    text-decoration: none;
}

header .nav-menu-account{
    margin-left: auto;   
}

header .nav-bar-bottom.menu-open{
    display: flex;
}


/* ----- MOBILE HEADER ----- */
@media screen and (max-width: 764px) {
    header .nav-bar button{ 
        display: inline-block;
    }

    header .nav-menu{
        width: 100%;
    }

    header .nav-menu a{
        display: block;
    }

    header .nav-bar-bottom{
        flex-direction: column-reverse;
        display: none;
        text-align: left;
    }

    header .nav-bar-bottom a{
        padding: 10px 0;
        border-bottom: 1px solid #f8f8f8;
    }
    
    header .nav-bar-bottom a:last-child{
        border-bottom: none;
    }

    header .nav-menu-search-container{
        margin: 5px 0;
        width: 100%;
    }
}


/* ----- PRODUCTS PAGE ----- */
.products_list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px;
    margin: 20px 0;
}

.products_list .product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #333;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.products_list .product:hover{
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 10px 10px 0px #ccc;
}

.products_list .product_image{
    margin-bottom: 30px;
    max-height: 200px;
}

.products_list .product_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.products_list .product_name{
    font-size: 22px;
}

.products_list .product_price{
    font-size: 18px;
    font-weight: bold;
}


/* ----- PRODUCTS PAGE MOBILE ----- */
@media screen and (max-width: 1200px) {
    .products_list{
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
    }
}

@media screen and (max-width: 990px) {
    .products_list{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
    }
}

@media screen and (max-width: 578px) {
    .products_list{
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
    }
}


/* ----- SINGLE PRODUCTS PAGE ----- */
.single_product{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px;
    margin: 20px 0;
}

.single_product_image{
    max-height: 400px;
}

.single_product_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.single_product_name{
    font-size: 30px;
}

/* ----- SINGLE PRODUCTS PAGE MOBILE ----- */
@media screen and (max-width: 724px) {
    .single_product{
        grid-template-columns: 1fr;
    }
}