
    <div class="scroll_to_top"><i class="fas fa-angle-up"></i></div>

    <footer class="bg-dark text-white pt-5 pb-5">
        
        <div class="container">
            
            <div class="d-md-flex">
                
                <div class="col mb-3">
                    <h5>Fine spirits</h5>
                    <a href="/" class="d-block m-1"><i class="fas fa-wine-glass-alt mr-2"></i>Home</a>
                    <a href="{% url 'products' %}" class="d-block m-1"><i class="fas fa-wine-bottle mr-2"></i>Our products</a>

                    <hr>
                    <h5>Our social links</h5>
                    <a href="https://facebook.com" target="_blank" class="d-block m-1"><i class="fab fa-facebook-square mr-2"></i>Facebook</a>
                    <a href="https://twitter.com" target="_blank" class="d-block m-1"><i class="fab fa-twitter-square mr-2"></i>Twitter</a>
                    <a href="https://youtube.com" target="_blank" class="d-block m-1"><i class="fab fa-youtube-square mr-2"></i>Youtube</a>
                </div>

                <div class="col mb-3">
                    <h5>Our Shop</h5>
                    We offer unmatched beverage service with competitive pricing, and a tradition of upscale service.
                    <a class="d-block" href="mailto:info@fine-spirits.net"><i class="fas fa-envelope-square mr-2"></i>info@fine-spirits.net</a>
                </div>

            </div>

        </div>

    </footer>