<div class="nav-bar-bottom">
    
    <div class="nav-menu">
        <span class="sub-menu">
            <a href="{% url 'products'%}">All products</a>
            <div>
                <a href="{% url 'products' %}?sort=price&direction=asc">Sort by price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc">Sort by rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc">Sort by category</a>
            </div>
        </span>

        <span class="sub-menu">
            <a>From the grapes <i class="fas fa-angle-down"></i></a>
            <div>
                <a href="{% url 'products' %}?category=grappa">Grappa</a>
                <a href="{% url 'products' %}?category=gin">Gin</a>
                <a href="{% url 'products' %}?category=tequila-mezcal">Tequila & Mezcal</a>
                <a href="{% url 'products' %}?category=vodka">Vodka</a>
                <a href="{% url 'products' %}?category=rum">Rum</a>
                <a href="{% url 'products' %}?category=digestif">Digestif</a>
            </div>
        </span>

        <span class="sub-menu">
            <a>Other spirits <i class="fas fa-angle-down"></i></a>
                <div>
                <a href="{% url 'products' %}?category=whisky-bourbon">Whisky & Bourbon</a>
                <a href="{% url 'products' %}?category=cognac-armagnac">Cognac & Armagnac</a>
            </div>
        </span>

    </div>

    <form class="nav-menu-search-container" method="GET" action="{% url 'products' %}">
        <div class="input-group">
          <input type="text" class="form-control" name="q" placeholder="Search product">
          <div class="input-group-append">
            <button class="btn btn-dark" type="button"><i class="fas fa-search"></i></button>
          </div>
        </div>
    </form>
</div>