{% load static %}

<div class="nav-bar">

    <a href="{% url 'home' %}">
        <img src="{% static 'img/logo.jpg' %}" class="logo"  alt="website logo">
    </a>

    <div class="nav-menu-account">
        <div class="dropdown ml-auto d-inline-block">
            <a href="javascript:void(0)" class="btn btn-light" data-toggle="dropdown">
                <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                {% if request.user.is_authenticated %}
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                    <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                {% endif %}
            </div>
        </div>

        <a class="btn btn-light ml-auto" href="{% url 'view_bag' %}">
          <i class="fas fa-shopping-cart mr-1"></i>
            {% if grand_total %}
                ${{ grand_total|floatformat:2 }}
            {% else %}
                $0.00
            {% endif %}
        </a>

        <button type="button" class="btn btn-light ml-auto" onclick="menu()">
            <i class="fas fa-bars"></i>
        </button>  
    </div>

    

</div>