{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block inner_content %}
<!-- Sign In form-->

  <h2 class="mt-3 text-center">{% trans "Sign In" %}</h2>
  
  <div class="page-userlog">
    <!-- Social media account checks-->

    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    <hr>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <!-- Home, Sign In and Forgot password buttons/links -->
      <button class="btn btn-dark" type="submit">{% trans "Sign In" %}</button>
      <hr>
      <a class="d-block mt-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <a class="d-block mt-2" href="{% url 'home' %}">Home</a>
    </form>
  </div>
{% endblock %}